@import "./components/reset";

$Montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

body {
    //Light mode
    &.light {
        background-color: #E5E5E5;
        color: #000000;

        header {
            background-color: #6495ED;
        }

        .mode {
            background: url("../../IMG/icons/mode_light.svg");
        }
    }

    //Dark mode
    &.dark {
        background-color: #000000;
        color: #FFFFFF;

        header {
            background-color: #000000;
        }

        .mode {
            background: url("../../IMG/icons/mode_dark.svg");
        }
    }
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #6495ED;
    text-align: center;
    margin-top: 80px;
}

.subtitle {
    font-family: $openSans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-top: 32px;
}

//First Sareen

.firstScreen {
    width: 100vw;
    height: 100vh;
}

.slider {
    width: 100vw;
    height: calc((100vh - 80px));
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../IMG/slider/1.jpg") !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_title {
    display: block;
    width: 745px;
    font-family: $openSans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

header {
    padding-top: 26.41px;
    padding-bottom: 20.51px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left {
        display: flex;
        align-items: center;

        img {
            margin-right: 142px;
            width: 77.33px;
            height: 33.08px;
        }
    }

    nav {
        ul {
            display: flex;

            li {
                margin-right: 75px;

                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-family: $Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    cursor: pointer;
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        button {
            border: none;
            background: none;
            padding: 0;

            img {
                width: 20px;
                height: 18px;
                margin-left: 16px;
            }

            color: #FFFFFF;
            font-family: $Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            display: flex;
            align-items: center;
        }

        .mode {
            width: 24px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 61px;
        }
    }
}

// Features

.features_items {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.features_item {
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features_item-icon {
    display: block;
    width: 142px;
    height: 133px;
    border: 2px solid #6495ED;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 40px;

    &.first {
        background: url("../../IMG/icons/1.svg");
        background-position: center center;
        background-repeat: no-repeat;
    }

    &.second {
        background: url("../../IMG/icons/2.svg");
        background-position: center center;
        background-repeat: no-repeat;
    }

    &.third {
        background: url("../../IMG/icons/3.svg");
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.features_item-title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #6495ED;
    margin-bottom: 30px;
}

.features_item-info {
    font-family: $openSans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
}
